html{
    font-size:16px;
    scroll-behavior: smooth;
    color-scheme: light;

}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
    --backgroundColor:#F6F1E7;
    --wordsColor:#D4A024;
    --headingColor:#D96E41;
    --accentColor:#6B8D3F;
    --h1Font:6.125rem;
    --h2Font:4rem;
    --h3Font:3rem;
    --pSize:2.125rem;
    --altPSize:2rem;
    --otherTexts:1.5rem;
}

body{
    
    font-family:"Instrument Serif";
    background-color:var(--backgroundColor)
}

.fade-in {
  animation: fadeIn 1s ease-in forwards;
  opacity: 0;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

#hero{
    max-width:99vw;
    width:99vw;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.container{
    max-width:90.9%;
    width:90.9%;
    margin:2% auto;
    
}

.container .navbar{
    width:100%;
    display:flex;
    justify-content: space-between;
    align-items:center;
}

.menu-icon {
  display: none;
  font-size: var(--altPSize);
  color: var(--headingColor);
  cursor: pointer;
  text-align: right;
}

#menu-toggle {
  display: none;
}


.container .navbar .right{
    width:35%;
   position: relative;


}

.container .navbar .right .nav-links{
    display:flex;
    justify-content: space-between;
    list-style:none;
}

.container .navbar .right .nav-links .navTextElement{
    color:var(--headingColor);
    font-size:var(--otherTexts);
    text-decoration: underline;
    transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;

}

.container .navbar .right .nav-links .navTextElement:hover{
    transform:scale(1.2);
    color:var(--accentColor);
}

.container .navbar .left{
    width:65%;
}

.container .navbar .left h4{
    font-size:2.25rem;
    color:var(--headingColor);
}

.heroContent{
    width:100%;
    display:flex;
    justify-content: space-between;
    justify-self: center;
    margin:8% auto;
    
}

.heroContent .left{
    width:48.22%;
    display:flex;
    flex-direction: column;
    margin-top:15%;
    
   
    

}

.heroContent .left h1{
    font-size:var(--h1Font);
    color:var(--wordsColor);
    margin:0;
}

.ctaBtn{
    font-size:2.125rem;
    background-color: var(--headingColor);
    width: 19.8125rem;
    height:5.9375rem;
    text-align:center;
    display:flex;
    align-items: center;
    justify-content: center;
    color:#FFFFFF;
    border-radius: 15px;
    border:none;
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
    text-decoration: none;
    
}

.ctaBtn:hover{
    transform:scale(1.2);
    background-color:var(--accentColor);
    
}

.heroContent .left .ctaBtn{
    margin:8% 9%;
}

.heroContent .right{
    width:54.15%;
    max-width:54.15%;
    
}


.sectionBreak{
    background-color:var(--headingColor);
    height:0.125rem;
    width:91.39%;
    justify-self:center;
    border:none;
}

.about .container{
    display:flex;
    justify-content: space-between;
     height:47.8125rem;
     margin-top:5%;
     margin-bottom:10%;

}

.about .container .left{
    width:38.66%;
}

.about .container .right{
    width:40.1875rem;
    height: 44.375rem;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

 img{
    width:100%;
    height:100%;
    border:1px solid var(--headingColor);
    border-radius: 15px;
}

h2{
    font-size: var(--h2Font);
    color:var(--headingColor);
    text-align: center;
}

p{
    font-size:var(--pSize);
    color:var(--wordsColor);
}

.facts .container{
    display:flex;
    justify-content: space-between;
    width:81.8125rem;
    height:49.75rem;
    margin-top:8%;
    margin-bottom:5%;

}

.facts .container .left{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    width:41rem;
    height:40.1875rem;
    margin-top:5%;

}

.fLetter{
    color:var(--headingColor);
    font-size:var(--h2Font);
}

.portfolio .container{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    width: 82.25rem;
    height:49.4375rem;
    margin-top:4%;
    margin-bottom:8%;

}

.portfolio .container .bottom img{
    width:24.9375rem;
    height:22.4375rem;
    transition:transform 0.3s ease-in-out;
}

.portfolio .container img:hover{
    transform:scale(1.05);
     
}
.portfolio .container .bottom h3{
    transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
}
.portfolio .container .bottom h3:hover{
    transform:scale(1.2);
    color:var(--accentColor);
}



.portfolio .container .bottom p{
    font-size:var(--altPSize);

}

.portfolio .container .bottom{
    display:flex;
    justify-content: space-between;
}

.portfolio .container .bottom .left{
    display:flex;
    flex-direction: column;
    width:24.9375rem;
    height:40.0625rem;
    justify-content: space-between;
}

.portfolio .container .bottom .center{
    display:flex;
    flex-direction: column;
    width:24.9375rem;
    height:40.0625rem;
    justify-content: space-between;
}

.portfolio .container .bottom .right{
    display:flex;
    flex-direction: column;
    width:24.9375rem;
    height:40.0625rem;
    justify-content: space-between;
}

h3{
    font-size: var(--h3Font);
    color:var(--headingColor);
    margin:0;
    text-align: center;
    
}

.contactMe .container{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    width:65.3125rem;
    height:57rem;
    margin-top:5%;
    margin-bottom:5%;

}

.contactMe .container .bottom{
    display:flex;
    justify-content: space-between;
    height:43.3125rem;
    margin-top:4%;
    margin-bottom:6%;


}

.contactMe .container .bottom .left{
    display:flex;
    flex-direction: column;
    height:100%;
    justify-content: space-between;
    
}

.contactMe .container .bottom .left #contactMe{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    height:39.4375rem;
    width:38.5rem;
    
}

.contactLabel{
    font-size:2.5rem;
    color:var(--headingColor);

}

.contactInput{
    font-size:var(--otherTexts);
    color:var(--headingColor);
    width:38.5rem;
    height:3.9375rem;
    border-radius: 15px;
    border:none;
    margin-top:4%;
    margin-bottom:5%;
    padding:1%;
    
}

#contactEmailContent{
    width:38.4375rem;
    height:12.875rem;
    border:none;
    color:var(--headingColor);
    font-size:var(--otherTexts);
    border-radius:15px;
    margin-bottom:5%;
    overflow:scroll;
    padding:1%

}

#contactEmailContent::placeholder{
    color:#d96f4179;
    font-size:var(--otherTexts);
}

input:focus{
    border:none;
    outline:none;
   
}

#contactEmailContent:focus{
    border:none;
    outline:none;
}

.contactMe .container .bottom .right{
    display:flex;
    flex-direction: column;
    height:100%;
    justify-content: space-evenly;
    width: 14.375rem;
    height: 21.125rem;
    align-self: center;
    text-align: center;
}

.contactMe .container .bottom button{
    width:12.75rem;
    height:3.6875rem;
    padding:2%;
    font-size:var(--otherTexts);
}

.service{
    margin-top:2%;
    font-size:var(--pSize);
    color:var(--wordsColor);
}

#rateMessage{
    color:var(--accentColor);
    font-size:var(--otherTexts);
    text-align:center;
    margin-bottom:10%;
}

.footer .container{
    display:flex;
    justify-content: space-between;
    width:100%;
    height:11.75rem;
    margin-bottom:5%;

}

.footer .container .left{
    display:flex;
    flex-direction: column;
    width:22.75rem;
    height:11.0625rem;
    justify-content: space-between;

}

.footer .container .left .footerH5{
    color:var(--accentColor);
    font-size:1.17rem;
   

}

.footer .container .right{
    width:4.625rem;
    height:10.75rem;
    
}

.footer .container .right ul{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    list-style-type: none;
    height:100%;
}

.footer .container .right ul .footerNavLink{
    color:var(--headingColor);
    font-size:var(--pSize);
    text-decoration: none;
    transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
    
}

.footer .container .right ul .footerNavLink:hover{
    transform:scale(1.2);
    color: var(--accentColor);
}

.footer .container .left h3{
    text-align: left;
}



.typewriter {
  overflow: hidden;              /* Hide the overflowing text */
  white-space: nowrap;           /* Keep text on one line */
  width: 0;                      /* Start with no visible text */
  animation: typing 3s steps(20, end) forwards, blink 0.7s step-end infinite;
}

@keyframes typing {
  to {
    width: 100%;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }

  
}

@media (max-width:1397px){


}

@media (max-width:1280px){

    :root{
    --h1Font:4.375rem;
    --h2Font:3rem;
    --h3Font:2.25rem;
    --pSize:1.75rem;
    --altPSize:1.5rem;
    --otherTexts:1.25rem;
    
}

.container .navbar .left h4{
    font-size:var(--altPSize);
   
}


.ctaBtn{
    font-size:2rem;
    width: 15.6875rem;
    height:5.25rem;
    padding:3.5%;
}




.about .container .right{
    width:40.1875rem;
    height: 37rem;
    
}

.facts .container .left{
    width:38.125rem;

}

.portfolio .container{
    height:39.4375rem;
}

.portfolio .container .bottom .left{
    width:19.0625rem;
    height:31.6875rem;
}

.portfolio .container .bottom .center{
    width:19.0625rem;
    height:31.6875rem;
}



.portfolio .container .bottom .right{
    width:19.0625rem;
    height:31.6875rem;
}

.portfolio .container .bottom img{
    width:19.0625rem;
    height:17.125rem;
    
}

}

/*Responsive query 1 */

@media (max-width:1200px){

    :root{
    --h1Font:3rem;
    --h2Font:2.5rem;
    --h3Font:2rem;
    --pSize:1.25rem;
    --altPSize:1.5rem;
    --otherTexts:1.25rem;
    
}

.container .navbar .left h4{
    font-size:var(--altPSize);
   
}


.ctaBtn{
    font-size:var(--altPSize);
    width: 11.9375rem;
    height:4rem;
    
}




.about .container .right{
    width:31.625rem;
    height: 23.5625rem;
    
}

.about .container{
    height:26.6875rem;
}

.facts .container{
    
    width:59.125rem;
   
    

}

.facts .container .left{
    width:27.75rem;
    height:34.625rem;

}

.facts .container .right{
    width:23.8125rem;
}

.portfolio .container{
    height:32.0625rem;
}

.portfolio .container .bottom .left{
    width:15.75rem;
    height:25.875rem;
}

.portfolio .container .bottom .center{
    width:15.75rem;
    height:25.875rem;
}



.portfolio .container .bottom .right{
    width:15.75rem;
    height:25.875rem;
    
}

.portfolio .container .bottom img{
    width:15.75rem;
    height:13.75rem;
    
}

.portLink{
    text-align: left;
}


}

/*Responsive query 2 */


@media (max-width:948px){

    :root{
    --h1Font:3rem;
    --h2Font:2.25rem;
    --h3Font:1.625rem;
    --pSize:1rem;
    --altPSize:1rem;
    --otherTexts:1.25rem;
}



 .container .navbar .right .nav-links {
    display: none;
    background: #FFFFFF;
    position: absolute;
    width: 100%;
    text-align:center;
    border: 1px solid var(--headingColor);
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    
  }

.menu-icon {
    display: block;
    margin-right:auto;
    transition: color 0.3s ease-in-out,color 0.3s ease-in-out, background-color 0.3s ease-in-out;
    
  }

  #menu-toggle:checked ~ .menu-icon{
    color:#FFFFFF;
    background-color: var(--accentColor);
    border: 1px solid var(--headingColor);
  }

  .menu-icon:hover{
    color:var(--accentColor)
    
  }



  .container .navbar .right .nav-links .navTextElement{
    text-decoration: none;
    border:1px solid var(--headingColor);
    
  }

  .container .navbar .right .nav-links .navTextElement:hover{
    color:white;
    background-color: var(--accentColor);
  }


.container .navbar .left h4{
    font-size:var(--altPSize);
   
}

#menu-toggle:checked ~ .nav-links    {
    display: flex;
    flex-direction: column;
    background-color:white;
    color:white;
    
  }

 

.ctaBtn{
    font-size:var(--altPSize);
    width: 10.4375rem;
    height:3.125rem;   
}



.about .container .right{
    width:20.625rem;
    height: 20.375rem;
    
}

.about .container{
    height:26.6875rem;
}

.facts .container{
    width:41.125rem;
    height:27.8125rem;

}

.facts .container .left{
    width:20.3125rem;
    height:21.6875rem;

}

.facts .container .right{
    width:17.0625rem;
    height:27.8125rem;

}

.portfolio .container{
    height:25.5625rem;
}

.portfolio .container .bottom .left{
    width:11.4375rem;
    height:19.75rem;
}

.portfolio .container .bottom .center{
    width:11.4375rem;
    height:19.75rem;
}



.portfolio .container .bottom .right{
    width:11.4375rem;
    height:19.75rem;
    
}

.portfolio .container .bottom img{
    width:11.4375rem;
    height:10rem;
    
}

.portLink{
    text-align: left;
   
}

.contactLabel{
    font-size:1.75rem;
    
}

.contactInput{
    width:26.375rem;
    height:3.9375rem;
    
}

#contactEmailContent{
    width:26.375rem;
    height:12.875rem;
}

#servTitle{
    font-size:2.25rem;
}

.service{
    font-size:1.5rem;
}

.contactMe .container .bottom .left{
    width:26.375rem;

}

.contactMe .container .bottom .right{
    width:10.4375rem;

}

#rateMessage{
    font-size:1rem;
}



}

/*Responsive query 3*/

@media (max-width:685px){

     :root{
    --h1Font:3rem;
    --h2Font:2.25rem;
    --h3Font:1.625rem;
    --pSize:1rem;
    --altPSize:1rem;
    --otherTexts:1.25rem;
}

    .heroContent{
   flex-direction: column-reverse;
   align-items: center;

    
}

.heroContent .left{
    width:100%;
    align-items: center;
}

h1{
    text-align: center;
}

 .container .navbar .right .nav-links {
    display: none;
    background: #FFFFFF;
    position: absolute;
    width: 100%;
    text-align:center;
    border: 1px solid var(--headingColor);
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    
  }

.menu-icon {
    display: block;
    margin-right:auto;
    transition: color 0.3s ease-in-out,color 0.3s ease-in-out, background-color 0.3s ease-in-out;
    
  }

  #menu-toggle:checked ~ .menu-icon{
    color:#FFFFFF;
    background-color: var(--accentColor);
    border: 1px solid var(--headingColor);
  }

  .menu-icon:hover{
    color:var(--accentColor)
    
  }



  .container .navbar .right .nav-links .navTextElement{
    text-decoration: none;
    border:1px solid var(--headingColor);
    
  }

  .container .navbar .right .nav-links .navTextElement:hover{
    color:white;
    background-color: var(--accentColor);
  }


.container .navbar .left h4{
    font-size:var(--altPSize);
   
}

#menu-toggle:checked ~ .nav-links    {
    display: flex;
    flex-direction: column;
    background-color:white;
    color:white;
    
  }

  h2{
    text-align: center;
  }

  
  h3{
    text-align: center;
  }
 

.ctaBtn{
    font-size:var(--altPSize);
    width: 10.4375rem;
    height:3.125rem;   
}


.about .container{
    flex-direction: column-reverse;
    align-items: center;
    height:47.3125rem;
}

.about .container .right{
    width:20.625rem;
    height: 21.4375rem;
    align-items:center;
    
}

.about .container .left{
    width:15.5rem;
    height:23.625rem;
}

.about .container{
    height:47.3125rem;
}

.facts .container{
    width:20.3125rem;
    height:49.8125rem;
    flex-direction: column;
    align-items: center;
    

}

.facts .container .left{
    width:20.3125rem;
    height:21.6875rem;
    

}




.facts .container .right{
    width:17.0625rem;
    height:24.8125rem;

}

.portfolio .container{
    height:69.75rem;
    width:11.4375rem;
    
}

.portfolio .container .top{
    height:2.9375rem;
}

.portfolio .container .bottom{
    flex-direction: column;
    height:64.6875rem;
}



.contactMe .container{
    height:69.75rem;
    width:24.625rem;
    


}



.contactMe .container .bottom{
    flex-direction: column-reverse;
    height:64.375rem;
   
    
}



.contactMe .container .bottom .left{
    width:24.625rem;
    height:41.3125rem;


}

.contactMe .container .bottom .right{
    width:10.4375rem;
    height:15.875rem


}





#rateMessage{
    font-size:1rem;
    
}


.contactInput{
    width:24.625rem;
    height:3.9375rem;
    
}

#contactEmailContent{
    width:24.625rem;
    height:12.875rem;
}

.container{
    align-self: center;
}


}


